<link rel="stylesheet" href="static/image/admincp/admincp.css" type="text/css" media="all" />
<link rel="stylesheet" href="template/default/common/common.css" type="text/css" media="all" />

<p class="xs3"><strong><?php showsubmenu('录入用户信息')?></strong></p>

<div>
	<form name="build_user_account" action="admin.php" method="post">
	<table>
		<tr><td>用户名字</td> <td><input type="text" name="name" /></td></tr>
		<tr><td>联系方式</td> <td><input type="text" name="name" /></td></tr>
		<tr><td>电子邮箱</td> <td><input type="text" name="name" /></td></tr>
		<tr><td>性别</td> <td><input type="text" name="name" /></td></tr>
		<tr><td>公司</td> <td><input type="text" name="name" /></td></tr>
		<tr><td>职位</td> <td><input type="text" name="name" /></td></tr>
	</table>
	<input type="submit" name="add_user_info" value="添加" />
</div> 