<ul class="thumbnails unstyled">
    <li class="span3">
        <a href="#" class="thumbnail">
            <img class="img-rounded" src="static/mot/vip_logo.jpg" width="100%" />
        </a>
    </li>
    <li class="span3">
        <h4>VIP的权限</h4>
        <ul>
            <li>学习收费课程</li>
            <li>笔记工具</li>
            <li>下载课程PPT 软件</li>
            <li>课程相关资料</li>
            <li>课程试题</li>
        </ul>
    </li>
    <li class="span3">
        <h4>开通服务渠道</h4>
        <ul>
            <li>支付宝</li>
            <li>线下支付</li>
        </ul>
    </li>
</ul>