<!--{template lesson/header}-->

</div>


<script src="{$_G['siteurl']}static/mot/jquery.pin.min.js"></script>
<script>
jQuery( function() {
	jQuery.ajax({
		url : 'lesson.php',
		type : 'GET',
		data : { click_collection : 1 , id: "{$content['id']}", type:'p'},
		dataType:'html',
	});
});
</script>

<div class="container">
<h5 class="text-left">
	<a href="lesson.php"><i class="icon-home"></i> Lean学院</a> <span class="divider">/</span> 
	<a href="lesson.php?pages_list={$course_info['id']}"><i class="icon-book"></i> {$course_info['fullname']}</a> <span class="divider">/</span> 
	<a href="lesson.php?page_content={$content['id']}"><i class="icon-file"></i> {$content['title']}</a>
</p>
</div>

<div id="play_area" class="mot-block-blackboard" align="center">

	<!--Body content-->
	{if $course_info['is_hidden']}
	<div class="alert alert-info">
		课程维护中，即将推出
	</div>
	{else}
		<!--{if $vip['uid'] === $_G['uid']}-->
		<script>
		jQuery( function () {
			jQuery(".pinned").pin( {
				containerSelector: '#play_area',
			});
		});
		</script>

    	<link href="{$_G['siteurl']}static/videojs/video-js.css" rel="stylesheet" type="text/css">
    	<script src="{$_G['siteurl']}static/videojs/video.js"></script>
		<script type="text/javascript">
		jQuery(function(){
			videojs.options.flash.swf = "{$_G['siteurl']}/static/videojs/video-js.swf";
			var Player = videojs("_video_player");
			var Lang = Array();
				Lang[0] = '简体中文';
				Lang[1] = '繁体中文';
				Lang[2] = '英文';
			var isMobile = {
    				Android: function() {  
        				return navigator.userAgent.match(/Android/i) ? true : false;  
   					},  
    				BlackBerry: function() {  
        				return navigator.userAgent.match(/BlackBerry/i) ? true : false;  
    				},  
    				iOS: function() {  
        				return navigator.userAgent.match(/iPhone|iPad|iPod/i) ? true : false;  
    				},  
    				Windows: function() {  
        				return navigator.userAgent.match(/IEMobile/i) ? true : false;  
    				},  
    				any: function() {  
       					return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Windows());  
    				}  
				};  
    			if( isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS())
    				var ismobile = true;
					jQuery.ajax({
					type: 'POST',
					url : 'lesson.php?dataajax=1',
					data: 'pageid={$content['id']}',
					success: function( result){
							result = eval('('+result+')')

							if( ismobile)
								Player.src( { type: "video/mp4", src: result['video_mb']});
							else
								Player.src( { type: "video/mp4", src: result['video_pc']});
					}
				});
    		});
			</script>



   	<video id="_video_player" class="video-js vjs-default-skin" controls preload="none" width="800" height="450" poster="{$_G['siteurl']}uploads/page/{$video['image_file']}" data-setup="{}">
    	<track kind="captions" src="{$video['caption_1']}" srclang="en" label="{$labellang[$video['label_a']]}" />
    	<track kind="captions" src="{$video['caption_2']}" srclang="en" label="{$labellang[$video['label_b']]}" />
 	</video>
</div>

<div align="center">
   	{if $prev}<a href="lesson.php?page_content={$prev['id']}"><span class="label">上一页 : {$prev['title']}</span></a>{/if}  
	{if $next}<a href="lesson.php?page_content={$next['id']}"><span class="label">下一页 : {$next['title']}</span></a>{/if} 
	
</div>

<div class="container">
	{$content['contents']}
</div>
{if false}
<div class="margin-top">
	 <div class="container">
	   <ul id="myTab" class="nav nav-tabs">

	   		<li class="active"><a id="q" href="#info" data-toggle="tab">课程信息</a></li>
            <li><a href="#context" data-toggle="tab">阅读</a></li>
            <li><a id="q" href="#ask" data-toggle="tab">问答</a></li>
            <li><a id="n" href="#note" data-toggle="tab">笔记</a></li>
            <script>
              jQuery( function (){
              	jQuery('div#note').hide();
              	jQuery('a#n').click( function() {
              		jQuery('div#note').show();
              	});
              	jQuery('li>a:not(#n)').click( function(){
              		jQuery('div#note').hide();
              	});
              });
            </script>
            <li><a id="d" href="#download" data-toggle="tab">下载</a></li>
   	  </ul>
   </div>
</div>

<div class="container-fluid">
<script>    
jQuery('#myTabContent').click(function (e) {
    e.preventDefault();
    jQuery(this).tab('show');
});
</script>
    <div id="myTabContent" class="tab-content">

    	    <div class="tab-pane fade in active container" id="info">
              	<dl class="dl-horizontal">
              		<dt>视频名称</dt><dd>{$video['v_name']}</dd>
              		<dt>课程语音</dt><dd>{$voicelang[$video['v_voice']]}</dd>
              		<dt>中文介绍</dt><dd>{$video['cn_intro']}</dd>
              		<dt>英文介绍</dt><dd>{$video['en_intro']}</dd>
              		<dt>课程时长</dt><dd>{$video['v_time']}</dd>
              	</dl>
            </div>
            
            <div class="tab-pane fade container" id="context">
            	<!--{$content['contents']}-->
            </div>

            <div class="tab-pane fade container" id="ask">
              <!--{template lesson/page_ask}-->
            </div>

            <div class="tab-pane fade container" id="note">
              <!--{template lesson/note/page_note}-->
            </div>

            <div class="tab-pane fade container" id="download">
              <!--{template lesson/page_download}-->
            </div>

    </div>
{/if}


	<!--{elseif $_G['uid']}-->
	<div class="hero-unit">
		<p><i class="icon-beer"></i> 此课程收费，要使用这些课程，您可以先成为本站<a href="vip.php">收费会员</a></p>
		<p><i class="icon-unlock"></i> 或者您可以先免费学习我们的<a href="lesson.php">试听课程</a></p>
	</div>

	<!--{else}-->
	<div class="container">
	<div class="mot-block-a">
		<div class="alert alert-info"><i class="icon-info-sign"></i> 游客您好，要学习本课，请先登陆或者注册为本站会员</div>
			{template member/login_simple}
	</div>
	</div>
	<!--{/if}-->
	{/if}

</div>

{if false}
			<div class="content container hero-unit">
				<form class="form-inline" method="post" action="" name="opinion">
        		<!--{if $success}反馈成功 谢谢您的支持！{/if}-->
              	<input type="hidden" name="referer" value="$_G[referer]">
    		  	<input type="hidden" name="formhash" value="{FORMHASH}" />
				<table class="table table-striped" width="100%">
					{if $_G['uid']}
					<input name="name" value="{$profile['realname']}" type="hidden" />
					<input name="phone" value="{$profile['mobile']}" type="hidden" />
					<input name="email" value="{$_G['member']['email']}" type="hidden" />
					<tr><td><textarea class="span11" name="message" rows="2" cols="20" placeholder="	告诉我们您使用的感受跟建议，我们会根据您的反馈，作出部分修改，让您更好的享受学习过程."></textarea>
					</td></tr>
					<tr><td><input class="btn btn-info" value="保存" type="submit" name="applysubmit" /></td></tr>
					{else}
					<tr>
					<td class="span3"><input class="input-medium" name="name" type="text" placeholder="您的名字"  /></td> 
					<td class="span3"><input class="input-medium" name="email" type="text" placeholder="您的邮箱" /></td>
					<td class="span3"><input class="input-medium" name="phone" type="text" placeholder="手机号" /></td> 
					<td><textarea name="message" rows="4" cols="12" placeholder="告诉我们您使用的感受跟建议，我们会根据您的反馈，作出部分修改，让您更好的享受学习过程.">
					</textarea></td>
					</tr>
					<tr>
					<td>
						<input class="btn btn-info" value="提交" type="submit" name="applysubmit" />
					</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
					{/if}
				</table>
				</form>
			</div>
{/if}


<div>
<!--{template lesson/footer}-->