<!--{template lesson/header}-->
<script>
jQuery( function() {

  jQuery.ajax({
    url : 'lesson.php',
    type : 'GET',
    data : { click_collection:1 , id: "{$lesson['id']}", type:'c'},
    dataType:'html',
  });
});
</script>

<div class="container">
<h5>
<p class="text-left"> 
  <a href="lesson.php"><i class="icon-home"></i> 在线课程</a> <span class="divider">/</span> 
  <a href="lesson.php?pages_list={$lesson['id']}"><i class="icon-book"></i> {$lesson['fullname']}</a> 
</p>
</h5>
</div>


<div class="container-fluid">
<div class="row-fluid">
<div class="span12">

  <div class="span2">

    <div class="text-center">
      <p><img src="uploads/course/{$lesson['logo']}" width="100%" /></p>

            <p align="center">
                {if $vip['uid']}
                  {loop $favorite $f}
                    {if $f['courseid'] == $lesson['id']}{eval $flag=true}<a class="btn btn-danger btn-medium btn-block" href="lesson.php?cancel_favorite={$lesson['id']}">取消选课</a>{/if}
                  {/loop}
                    {if !$flag}
                    <a class="btn btn-danger btn-medium btn-block" href="lesson.php?add_favorite={$lesson['id']}">选课</a>
                    {/if}
                  {elseif $_G['uid'] == 0 }
                    <a href="forum.php"></a>
                  {else}
                    <a class="btn btn-danger btn-large btn-block" href="vip.php?action=active" target="_blank">开通会员</a>
                  {/if}
            </p>


    {if !$lesson['is_hidden']}
    <h4>课程大纲</h4>
    <ul class="nav nav-tabs nav-stacked">
      {loop $pages $p}
      <li><a href="lesson.php?page_content={$p['id']}"><small><strong>{eval echo cutstr( $p['title'] , 15 , '' )}</strong></small></a></li>
      {/loop}
    </ul>
    {/if}

    </div>

  </div>



  <div class="span10">

  {if $lesson['is_hidden']}
          <div class="row-fluid">
            <div>
                  <h3 align="center">《{$lesson['fullname']}》 课程介绍</h3>
                   <div>{$lesson['summary']}</div>
            </div>
          </div>
    <div class="alert alert-info">
      很抱歉，本课程正在准备当中，即将推出。。。
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {else}
  
      <div>
            <div class="span12">
                  <h3 align="center">《{$lesson['fullname']}》 课程介绍</h3>
                   <div>{$lesson['summary']}</div>
            </div>
            <hr>



            {loop $pages $p}
            <div class="container-fluid well">
            <div class="row-fluid">
              <div class="span4 text-center">
                <a id="{$p['id']}" href="lesson.php?page_content={$p['id']}" title="{$p['title']}">
                   <img class="span12 image img-polaroid" id="{$p['id']}" src="uploads/page/small/{$p['image_file']}" alt="{$p['title']}"/>
                </a>
              </div>
              
              <div class="span8">
                
                <h4>
                  <a id="{$p['id']}" href="lesson.php?page_content={$p['id']}" title="{$p['title']}">
                    {$p['title']}
                  </a>
                </h4>
                
                <ul class="inline">
                  <li><span class="label label-info">语音 : {eval echo $p['v_voice'] == 1 ? '英语' : '普通话'}</span></li>
                  <li><span class="label label-info">时长 : {$p['v_time']}</span></li>
                </ul>

                {eval echo cutstr( $p['contents'], 140 , ' .. ')}
              </div>

            </div>
            </div>
            {/loop}


      </div>
   
    {/if}
  </div>

  </div>

</div>
</div>
</div>

{if false}
<div class="container">
<div class="page-header">
  <h2>学习指南
    <small>指导</small>
  </h2>
</div>

<div class="page-header">
  <h2>学后考试
    <small>考试试题</small>
  </h2>
</div>
<dt>
  <dl><a href="examination.php?mod=do&id={$exam_bucket['id']}"><i class="icon-credit-card"></i> {$exam_bucket['title']}</a></dl>
  <dt>{$exam_bucket['info']}</dt>
</dt>

<div class="page-header">
  <h2>成长路线图
    <small>记录改变</small>
  </h2>


  <div class="progress progress-striped active">
    <div class="bar" style="width: 90%;"></div>
  </div>
</div>


</div>
{/if}

<!--{template lesson/footer}-->