<!--{subtemplate lesson/header}-->

  {loop $c $course}
  <div class="container-fluid">
    <div class="row-fluid">
    <div class="page-header">
    <h3> {$course['fullname']} <small>{$cat[$course['category_id']]}</small></h3>
    </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
        <a href="lesson.php?pages_list={$course['id']}">
        <img style="height:120px" class="img-polaroid" src="uploads/course/{$course['logo']}" alt="{$course['fullname']}" />
        </a>
      </div>

    <div class="span8">
        <p>{$course['summary']}</p>
            <a class="btn pull-right" href="lesson.php?pages_list={$course['id']}">开始学习</a>
    </div>
    </div>
    </div>
  {/loop}

    <div class="span12 pagination pagination-large" align="center">
      {if isset($_GET['category'])}
              <ul>
                <li><a href="lesson.php?category={$_GET['category']}&page={eval echo $page-1}">&laquo;</a></li>
                <li class="active"><a href="lesson.php?category={$_GET['category']}&page={eval echo $page}">{eval echo $page}</a></li>
                <li><a href="lesson.php?category={$_GET['category']}&page={eval echo $page+1}">{eval echo $page+1}</a></li>
                <li><a href="lesson.php?category={$_GET['category']}&page={eval echo $page+2}">{eval echo $page+2}</a></li>
                <li><a href="lesson.php?category={$_GET['category']}&page={eval echo $page+1}">&raquo;</a></li>
              </ul>
      {else}
              <ul>
                <li><a href="lesson.php?page={eval echo $page-1}">&laquo;</a></li>
                <li class="active"><a href="lesson.php?page={eval echo $page}">{eval echo $page}</a></li>
                <li><a href="lesson.php?page={eval echo $page+1}">{eval echo $page+1}</a></li>
                <li><a href="lesson.php?page={eval echo $page+2}">{eval echo $page+2}</a></li>
                <li><a href="lesson.php?page={eval echo $page+1}">&raquo;</a></li>
              </ul>
      {/if}
    </div>


<!--{subtemplate lesson/footer}-->