<div class="mot-footer-div" align="center">
	<div class="copyright">Copyright © 2013&nbsp;&nbsp;www.Kicn.cn&nbsp;&nbsp;&nbsp;&nbsp;改善在线学院</div>
		<div><a>联系我们</a> <a>问题建议</a></div>
	</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40132838-1']);
  _gaq.push(['_setDomainName', 'kicn.cn']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>