/* ----------------------------------
Self-adaption Width CSS file for Discuz! X
(C) Comsenz Inc.
http://www.comsenz.com
Created & Modified by Pony.
---------------------------------- */

/*
.wp { width: 98%; }
*/
.wp { width: 100%; }
	#hd .wp, #wp { min-width: 960px; }


/*
适用于 1200px 页宽：
对于 频道页面 侧边栏在右侧的：（官方默认侧边栏在右侧的 不用注释掉  margin-right: 235px; 且 .ct2 .mn { width: 82%; }  ）
对于 频道页面 侧边栏在左侧的：此处注释掉 .ct2  的 margin-right: 235px;  以及改为
	.ct2 .mn { width: 75%; }
以免 群组页面 切换到宽版 向左侧错位

*/
.ct2 {/* margin-right: 235px; */}
	.ct2 .sd { margin-right: -235px; }
		.ie7 .ct2 .sd { margin-left: 15px; }
		.ie6 .ct2 .sd { padding-left: 15px; position: relative; }
/*	.ct2 .mn { width: 100%; }
*/
	.ct2 .mn { width: 75%; }


.ct2 #chart, .ct2 #an { margin-right: -235px; }
	.ie6 .ct2 #chart, .ie6 .ct2 #an { position: relative; }

/* 帮助 部分*/
.ct2_a { padding-left: 150px; }
	.ct2_a .appl { margin-left: -150px; {SIDEBGCODE}; }
		.ie6 .ct2_a .appl { position: relative; display: inline; }
/*
	.ct2_a .mn { width: 99%; }
*/
	.ct2_a .mn { width: 90%; }

/* 漫游应用页面
	#nv_userapp .ct2_a .mn, .ct2_a_r .mn { width: 99%; }
*/
	#nv_userapp .ct2_a .mn, .ct2_a_r .mn { width: 90%; }

.ct3_a { padding: 0 240px 0 160px; }
	.ct3_a .appl { margin-left: -160px; }
		.ie6 .ct3_a .appl, .ie6 .ct3_a .sd { display: inline; }
	.ct3_a .sd { margin-right: -240px; }
/*	.ct3_a .mn { margin: 0; width: 100%; }
*/	.ct3_a .mn { margin: 0 0 0 15px; width: 90%; }
/*
#nv, #mu { border-left: 1px solid {COMMONBORDER}; border-right: 1px solid {COMMONBORDER}; }
*/
/* 去掉 左右边框  */
#nv, #mu { border: none;}

#nv { background-repeat: repeat-x; background-position: 0 -33px; }

#mu ul { border-bottom: 1px solid {COMMONBORDER}; background-image: none; background-color: {COMMONBG}; }

.pg_post .ct2_a { margin-left: 0; margin-right: 150px; padding-left: 0; }
	.pg_post .ct2_a .appl { margin-left: 0; margin-right: -150px; background: none; }
.pg_modcp .ct2_a, .pg_announcement .ct2_a { border: none; }
	.pg_modcp .ct2_a .mn, .pg_announcement .ct2_a .mn { margin-right: 0; padding-top: 0; }

.tdats .tdat { width: 20%; }
.tdats .tfxf { width: 79.5%; }
.tdats .tfx, .tdats .tb, .tscr { width: 39.5%; }
	.tscr .tdat, .tscr .tdat th, .tscr .tdat td { width: 100%; }