{template common/header}
<div class="container-fluid mot-block-a">
<div class="row-fluid">
	<div class="span2">
		<a href="examination.php" title="36lean.com考试中心">
			<img class="img-polaroid" src="static/mot/mark.jpg" />
		</a>
		
	</div>

	<div class="span10">
		<blockquote>
			<h1><a href="examination.php?mod=do&id={$bucket_info['id']}"><i class="icon-pencil"></i> 列表视图</a>
            </h1>
            <small>显示大量数据用的界面</small>
    	</blockquote>
    </div>
</div>
</div>

<div class="container-fluid">
<div class="row-fluid">