<div id="psd">
	<h3 class="mbm pbm bbs">{lang post_additional_options}</h3>
	<div>
		<!--{hook/post_side_top}-->
		<!--{if ($_G['forum']['allowhtml'] || ($_GET[action] == 'edit' && ($orig['htmlon'] & 1))) && $_G['group']['allowhtml']}-->
			<p>
				<label class="checkbox" for="htmlon">
					<input type="checkbox" name="htmlon" id="htmlon" class="pc" value="1" $htmloncheck />{lang post_html}
				</label>
			</p>
		<!--{else}-->

			<p><label class="checkbox" for="htmlon">
				<input type="checkbox" name="htmlon" id="htmlon" class="pc" value="0" $htmloncheck disabled="disabled" />{lang post_html}
				</label>
			</p>
		<!--{/if}-->

			<p><label class="checkbox" for="allowimgcode">
				<input type="checkbox" id="allowimgcode" class="pc" disabled="disabled"{if $_G['forum']['allowimgcode']} checked="checked"{/if} />{lang post_imgcode}</label>
			</p>

		<!--{if $_G['forum']['allowimgcode']}-->
		<p><label class="checkbox" for="allowimgurl">
			<input type="checkbox" id="allowimgurl" class="pc" checked="checked" />{lang post_imgurl}</label>
		</p>
		<!--{/if}-->
		<p><label class="checkbox" for="parseurloff">
			<input type="checkbox" name="parseurloff" id="parseurloff" class="pc" value="1" $urloffcheck />{lang disable}{lang post_parseurl}</label>
		</p>
		<p><label class="checkbox" for="smileyoff">
			<input type="checkbox" name="smileyoff" id="smileyoff" class="pc" value="1" $smileyoffcheck />{lang disable}{lang smilies}</label>
		</p>
		<p><label class="checkbox" for="bbcodeoff">
			<input type="checkbox" name="bbcodeoff" id="bbcodeoff" class="pc" value="1" $codeoffcheck />{lang disable}{lang discuzcode}</label>
		</p>

		<hr class="bk" />

		<p><label class="checkbox" for="usesig">
			<input type="checkbox" name="usesig" id="usesig" class="pc" value="1" {if !$_G['group']['maxsigsize']}disabled {else}$usesigcheck {/if}/>{lang post_show_sig}</label>
		</p>
		<!--{if $_GET[action] != 'edit'}-->
			<!--{if $_G['group']['allowanonymous']}-->
		<p><label class="checkbox" for="isanonymous">
			<input type="checkbox" name="isanonymous" id="isanonymous" class="pc" value="1" />{lang post_anonymous}</label>
		</p><!--{/if}-->
		<!--{else}-->
			<!--{if $_G['group']['allowanonymous'] || (!$_G['group']['allowanonymous'] && $orig['anonymous'])}-->
		<p><label class="checkbox" for="isanonymous">
			<input type="checkbox" name="isanonymous" id="isanonymous" class="pc" value="1" {if $orig['anonymous']}checked="checked"{/if} />{lang post_anonymous}</label>
		</p><!--{/if}-->
		<!--{/if}-->

		<!--{if $_GET[action] == 'newthread' || $_GET[action] == 'edit' && $isfirstpost}-->
			<p><label class="checkbox" for="hiddenreplies">
				<input type="checkbox" name="hiddenreplies" id="hiddenreplies" class="pc"{if $thread['hiddenreplies']} checked="checked"{/if} value="1">{lang hiddenreplies}</label>
			</p>
		<!--{/if}-->
		<!--{if $_G['uid'] && ($_GET[action] == 'newthread' || $_GET[action] == 'edit' && $isfirstpost) && $special != 3}-->
			<p><label class="checkbox" for="ordertype">
				<input type="checkbox" name="ordertype" id="ordertype" class="pc" value="1" $ordertypecheck />{lang post_descviewdefault}</label>
			</p>
		<!--{/if}-->
		<!--{if ($_GET[action] == 'newthread' || $_GET[action] == 'edit' && $isfirstpost)}-->
			<p><label class="checkbox" for="allownoticeauthor">
				<input type="checkbox" name="allownoticeauthor" id="allownoticeauthor" class="pc" value="1"{if $allownoticeauthor} checked="checked"{/if} />{lang post_noticeauthor}</label>
			</p>
		<!--{/if}-->
		<!--{if $_GET[action] != 'edit' && helper_access::check_module('feed') && $_G['forum']['allowfeed']}-->
			<p><label class="checkbox" for="addfeed">
				<input type="checkbox" name="addfeed" id="addfeed" class="pc" value="1" $addfeedcheck>{lang addfeed}</label>
			</p>
		<!--{/if}-->

		<!--{if $_GET[action] == 'newthread' && $_G['forum']['ismoderator'] && ($_G['group']['allowdirectpost'] || !$_G['forum']['modnewposts'])}-->
			<hr class="bk" />

			<!--{if $_GET[action] == 'newthread' && $_G['forum']['ismoderator'] && ($_G['group']['allowdirectpost'] || !$_G['forum']['modnewposts'])}-->
				<!--{if $_G['group']['allowstickthread']}-->
					<p><label class="checkbox" for="sticktopic">
						<input type="checkbox" name="sticktopic" id="sticktopic" class="pc" value="1" $stickcheck />{lang post_stick_thread}</label>
					</p>
				<!--{/if}-->
				<!--{if $_G['group']['allowdigestthread']}-->
					<p><label class="checkbox" for="addtodigest">
						<input type="checkbox" name="addtodigest" id="addtodigest" class="pc" value="1" $digestcheck />{lang post_digest_thread}</label>
					</p>
				<!--{/if}-->
			<!--{/if}-->
		<!--{elseif $_GET[action] == 'edit' && $_G['forum_auditstatuson']}-->
			<hr class="bk" />

			<p>
				<label class="checkbox" for="audit">
				<input type="checkbox" name="audit" id="audit" class="pc" value="1">{lang auditstatuson}</label>
			</p>
		<!--{/if}-->
	</div>
	<!--{hook/post_side_bottom}-->
	<!--{if $_GET[action] == 'edit' && $isorigauthor && ($isfirstpost && $thread['replies'] < 1 || !$isfirstpost) && !$rushreply && $_G['setting']['editperdel']}-->
		<div class="ptm hm">
			<input type="hidden" name="delete" id="delete" value="0" />
			<hr class="l" />
			<p class="ptm pbn"><button type="button" class="pn" onclick="deleteThread();"><span style="white-space: nowrap">{lang post_delpost}</span></button></p>
			<p class="xw1 xi1">{lang del_thread_warning}<!--{if $thread[special] == 3}-->, {lang reward_price_back}<!--{/if}--></p>
		</div>
	<!--{/if}-->
</div>