<!--{subtemplate common/header}-->

<style id="diy_style" type="text/css">#portal_block_632 .dxb_bc {  margin-top:20px !important;margin-right:10px !important;margin-bottom:20px !important;margin-left:10px !important;}#portal_block_632 {  border-bottom-width:1px !important;border-bottom-style:dotted !important;border-bottom-color:#666666 !important;}</style>
<div id="ct" class="ct2 wp cl">
<!--[diy=diy1]--><div id="diy1" class="area"><div id="frameb6SUBc" class="frame move-span cl frame-1"><div class="title frame-title"><span class="titletext">课程列表</span></div><div id="frameb6SUBc_left" class="column frame-1-c"><div id="frameb6SUBc_left_temp" class="move-span temp"></div><!--{block/632}--><!--{block/630}--><!--{block/631}--><!--{block/617}--><!--{block/618}--><!--{block/619}--><!--{block/620}--><!--{block/621}--><!--{block/622}--><!--{block/623}--><!--{block/624}--></div></div></div><!--[/diy]-->
</div>

<!--{subtemplate common/footer}-->