<!--{subtemplate common/header}-->

<style id="diy_style" type="text/css">#portal_block_288 .dxb_bc {  margin:30px !important;font-size:16px !important;}</style>
<div id="ct" class="ct2 wp cl">
<!--[diy=diy1]--><div id="diy1" class="area"><div id="frame78IfZM" class="frame move-span cl frame-1"><div class="title frame-title"><span class="titletext" style="font-size:22px;">订阅邮件</span></div><div id="frame78IfZM_left" class="column frame-1-c"><div id="frame78IfZM_left_temp" class="move-span temp"></div><!--{block/288}--></div></div></div><!--[/diy]-->
</div>

<!--{subtemplate common/footer}-->